body.theme-dark {
  --oi-background-color-primary: #020618;
  --oi-background-color-blanket: rgba(0, 0, 0, 0.55);
  --oi-background-color-secondary: #0F172B;
  --oi-background-color-tertiary: #1D293D;
  --oi-background-color-brand: #052F4A;
  --oi-background-color-info: #052F4A;
  --oi-background-color-success: #032E15;
  --oi-background-color-warning: #432004;
  --oi-background-color-error: #460809;
  --oi-border-color-strong: #45556C;
  --oi-border-color-default: #314158;
  --oi-border-color-muted: #1D293D;
  --oi-border-color-badge-info: #0069A8;
  --oi-border-color-badge-success: #008236;
  --oi-border-color-badge-error: #C10007;
  --oi-border-color-badge-warning: #A65F00;
  --oi-content-color-primary: #F1F5F9;
  --oi-content-color-secondary: #CAD5E2;
  --oi-content-color-tertiary: #90A1B9;
  --oi-content-color-brand: #00A6F4;
  --oi-content-color-info: #00BCFF;
  --oi-content-color-success: #05DF72;
  --oi-content-color-warning: #FDC700;
  --oi-content-color-error: #FF6467;
  --oi-content-color-link: #00BCFF;
  --oi-content-color-link-hover: #74D4FF;
  --oi-content-color-link-visited: #C27AFF;
  --oi-content-color-inked: #FFFFFF;
  --oi-content-color-disabled: rgba(255, 255, 255, 0.38);
  --oi-button-background-secondary: #020618;
  --oi-button-background-secondary-hover: #1D293D;
  --oi-button-background-secondary-active: #1D293D;
  --oi-button-background-disabled: #314158;
}
