body.theme-hc-light {
  --oi-border-radius-s: 2px;
  --oi-border-radius-default: 4px;
  --oi-border-radius-l: 8px;
  --oi-border-radius-max: 50vh;
  --oi-size-xs: 16px;
  --oi-size-s: 24px;
  --oi-size-m: 28px;
  --oi-size-default: 32px;
  --oi-size-l: 40px;
  --oi-spacing-zero: 0px;
  --oi-spacing-xs: 4px;
  --oi-spacing-s: 8px;
  --oi-spacing-m: 12px;
  --oi-spacing-l: 16px;
  --oi-spacing-xl: 24px;
  --oi-spacing-xxl: 32px;
  --oi-spacing-xxxl: 48px;
  --oi-background-color-primary: #FFFFFF;
  --oi-background-color-secondary: #F2F2F2;
  --oi-background-color-tertiary: #D3D3D3;
  --oi-background-color-brand: #74D4FF;
  --oi-background-color-info: #B8DBFF;
  --oi-background-color-success: #8FFFBC;
  --oi-background-color-warning: #FFEAB8;
  --oi-background-color-error: #FFBCB8;
  --oi-background-color-modal-backdrop: rgba(226, 226, 226, 0.64);
  --oi-base-color-brand: #00A6F4;
  --oi-base-color-info: #00A6F4;
  --oi-base-color-success: #00C950;
  --oi-base-color-warning: #F0B100;
  --oi-base-color-error: #FB2C36;
  --oi-border-width-default: 1px;
  --oi-border-width-l: 2px;
  --oi-border-width-xl: 4px;
  --oi-border-style-solid: solid;
  --oi-border-color-strong: #7D7D7D;
  --oi-border-color-default: #A6A6A6;
  --oi-border-color-muted: #D3D3D3;
  --oi-border-color-focus: var(--oi-base-color-brand);
  --oi-border-color-badge-info: #00BCFF;
  --oi-border-color-badge-success: #05DF72;
  --oi-border-color-badge-error: #FF6467;
  --oi-border-color-badge-warning: #FDC700;
  --oi-content-color-primary: #0D0D0D;
  --oi-content-color-secondary: #363636;
  --oi-content-color-tertiary: #454545;
  --oi-content-color-brand: #0069A8;
  --oi-content-color-constant: #FFFFFF;
  --oi-content-color-info: #0069A8;
  --oi-content-color-success: #005221;
  --oi-content-color-warning: #5C4100;
  --oi-content-color-error: #7A0800;
  --oi-content-color-link: #0057AD;
  --oi-content-color-link-hover: #004F9D;
  --oi-content-color-link-visited: #9810FA;
  --oi-content-color-inked: #000000;
  --oi-content-color-disabled: rgba(125, 125, 125, 0.72);
  --oi-button-background-primary: #0084D1;
  --oi-button-background-primary-hover: #0069A8;
  --oi-button-background-primary-active: #0069A8;
  --oi-button-background-secondary: #FFFFFF;
  --oi-button-background-secondary-hover: #C2C2C2;
  --oi-button-background-secondary-active: #E2E8F0;
  --oi-button-background-danger: #E7000B;
  --oi-button-background-danger-hover: #C10007;
  --oi-button-background-danger-active: #C10007;
  --oi-button-background-disabled: #A6A6A6;
  --oi-button-size-height-s: var(--oi-size-s);
  --oi-button-size-height-default: var(--oi-size-default);
  --oi-button-size-height-l: var(--oi-size-l);
  --oi-button-gap-s: var(--oi-spacing-s);
  --oi-button-gap-default: var(--oi-spacing-m);
  --oi-button-gap-l: var(--oi-spacing-l);
  --oi-opacity-state-layer-hover: 0.08;
  --oi-opacity-state-layer-focus: 0.1;
  --oi-opacity-state-layer-pressed: 0.12;
  --oi-opacity-state-layer-dragged: 0.16;
  --oi-opacity-content-disabled: 0.38;
  --oi-opacity-background-disabled: 0.1;
  --oi-motion-duration-snap: 0ms;
  --oi-motion-duration-short: 120ms;
  --oi-motion-duration-default: 200ms;
  --oi-motion-duration-long: 280ms;
  --oi-motion-duration-loop: 1000ms;
  --oi-motion-ease-default: ease-out;
  --oi-motion-ease-enter: ease-out;
  --oi-motion-ease-exit: ease-in;
  --oi-motion-ease-none: linear;
}
