.page {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--oi-spacing-l);
}

.placeholder {
  margin: 0;
  font-size: var(--oi-text-body-s-font-size);
  line-height: var(--oi-text-body-s-line-height);
  color: var(--oi-content-color-tertiary);
}
