.form {
  display: flex;
  flex-direction: column;
  gap: var(--oi-spacing-l);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--oi-spacing-l);
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
